@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default, light;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #e50914;
  --color-secondary: #141414;
  --color-accent: #ffd700;
  --color-neutral: #222222;
  --color-base-100: #000000;
  --color-text: #ffffff;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #d81f26;
  --color-secondary: #ffffff;
  --color-accent: #f5c518;
  --color-neutral: #eaeaea;
  --color-base-100: #fdfdfd;
  --color-text: #0c0c0c;
}

* {
  font-family: "Montserrat", sans-serif;
}

.font-primary {
  font-family: "Bebas Neue", sans-serif;
}
.font-secondary {
  font-family: "Oswald", sans-serif;
}

.swiper {
  transition-timing-function: ease-in-out !important;
}
